#!/bin/bash -x

source_up

THIS_DIR="${PWD}"

PATH_add "${PWD}/bin/generic"
PATH_add "${THIS_DIR}/bin/${THIS_OS}_${ARCH}"


# mozilla/sops
# make decrypt

export CLUSTER_CODENAME="vultr"

export KUBECONFIG="${PWD}/kubeconfig.yaml"

REPRESENTATIVE_NAME="${CLUSTER_CODENAME}"
if [[ "${REPRESENTATIVE_NAME}" == "" ]]; then
  REPRESENTATIVE_NAME="$(basename "${ROOT_DIR}")"
fi

toilet -f smblock -F gay "${REPRESENTATIVE_NAME}"
